.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.todolist {
	border: solid 2px darkblue;
	min-height: 50px;
	margin: 5px 0;
	padding: 5px;
	min-width: 1080px;
}

.listContainer table{
	min-width: 1080px;
}

.inputContainer{
	margin: 10px;
	display: flex;
	align-items: center;
	min-height: 25px;
}
.inputContainer span{
	margin-right: 10px;
}

.prioContainer{
	display: flex;
	align-items: center;
}

.sortContainer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 30px;
}

.sortContainer label{
	min-width: 100px;
}

.todolist .urgency{
	width: 80px;
}

.todolist .name{
	width: 200px;
}

.todolist .type{
	width: 60px;
}

.todolist .completion, .todolist .prio{
	text-align: center;
}

td, th {
	padding: 5px;
	border: solid 2px darkcyan;
}

.item-form {
	border: solid 2px darkblue;
	padding: 5px;
}

.toolbar {
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px gray;
}
.toolbar a {
	text-decoration: none;
	display: inline-block;
	padding: 2px 5px;
	border: solid 1px gray;
	margin-right: 5px;

}
.toolbar a.active{
	border: solid 2px blue;
	padding: 1px 4px;
}
.danger {
	color: red;
}
.done {
	cursor: pointer;
	user-select: none;
}
.description{
	white-space: pre-line;
	width: 300px;

}
[v-cloak] {
	display: none;
}